@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

/* p a {
  position: relative;
  color: #000;
  text-decoration: none;
}

p a:hover {
  color: #000;
}

p a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

p a:hover::before {
  transform: scaleX(1);
} */

::selection {
  color: white;
  background: black;
}

@layer base {
  body {
    @apply bg-slate-50 text-[#1f2937] tracking-wide dark:bg-gray-800;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }

  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl;
  }

  h2 {
    @apply text-3xl sm:text-4xl;
  }

  li {
    @apply cursor-pointer;
  }

  button {
    @apply shadow-xl  rounded-xl uppercase bg-gradient-to-r from-[#5651e5] to-[#709dff] text-white;
  }
}

.link-underline {
  border-bottom-width: 0;
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(#fff, #fff);
  background-size: 0% 3px;
  background-position: 50% 100%;
  background-repeat: no-repeat;
  transition: background-size 0.4s ease-in-out;
}

.link-underline-black {
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(black, black);
}

.link-underline:hover {
  color: black;
  background-size: 100% 3px;
  background-position: 50% 100%;
}
